<%- include('includes/header.ejs') %>
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <h1>Technical issues!</h1>
    <p>Please, we are facing some technical issues, we will back soon, sorry for any inconvenience</p>

<%- include('includes/body.ejs') %>
