<footer class="wrapper">
    <div >

        <h3>Contact me</h3>
                <!-- Form Area-->
                <form id="form" class="product-form" >
                    <div class="form-control">
                        <label for="yourName">Your name</label>
                        <input type="text" id="yourName"/>
                    </div>
                    <div class="form-control">
                        <label for="email">Your email</label>
                        <input type="email" id="email"/>
                    </div>
                    <div class="form-control">
                        <label for="message">Message to me</label>
                        <textarea name="message" id="message" ></textarea>
                    </div>
                    <div class="form-control">
                        <input class="btn" type="submit" value="send message"/>  
                    </div>
                
                </form>
                <p>Femi Adesola Oyinloye &copy;2022</p>
            </div>
            <div class="icons">
                <a href="https://www.linkedin.com/in/femi-adesola-oyinloye-106454145/" target="_blank" class="linkedin">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <a href="#1" class="facebook">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a href="https://github.com/FemiAdesola" target="_blank" class="github">
                    <i class="fab fa-github fa-2x"></i>
                </a>
             
    </div>
</footer>